.cityDataJumbotron{
    background-color: #7B16F5 !important;
    position: relative;
}

.menuScroll{
    height: 300px;
    overflow-y: scroll;
}

.img-fluid{
    max-width: 55% !important;
}

.arrow-img {
    max-width: 4%;
    height: auto;
}

.img-white{
    filter: invert(100%)
}

text-white{
    color: white;
}

.card.rounded{
    border-radius: 1rem!important;
}

.snowCell.card{
    background-color: #1E88E5!important;
}
.rainCell.card{
    background-color: #43A047!important;
}
.sunCell.card{
    background-color: #FBC02D!important;
}
.cloudCell.card{
    background-color: #616161!important;
}
.stormCell.card{
    background-color: #E53935!important;
}

.nightCell.card{
    background-color: #424242!important;
}

.lead{
    font-size: 1rem !important;
}