.btn-social {
    background-color: #EEEEEE !important;
    border-color: #EEEEEE !important;
    padding: 5px !important;
    border-radius: 50% !important;
}

.fix-right{
    position: fixed !important;
    right: 20px;
    bottom: 20px;
}

.img-button {
    height: 45px;
    width: 45px; 
}