.img-logo {
    height: auto;
    width: 15%;
}

.firebaseui-idp-generic {
    background-color: #000 !important;
    border-color: #000 !important;
}

.text-purple {
    color: #7B16F5;
    font-family: 'PT Sans Narrow', sans-serif;
}

.body{
    background-color: #F5F5F5
}