.HistoryDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.HistoryDataGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    padding: 10px 0px 10px 10px;
}

.HistoryContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
}

.TripTime{
    grid-row: 2;
    grid-column: 2;
}

.GridItem {
    width: 100%;
}

.HistoryDataContainer > img {
    width: 60%;
}